@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --main-pink: #f63093;
    --light-pink: #f6309314;
    --light: #ffffff;
    --light-gray: #f1f4f6;
    --medium-gray: #6e7980;
    --main-gray: #6e7481;
    --lightblue: #10b6ff;
    --main-green: #00d215;
    --main-orange: #e69800;
    --main-yellow: #ffdc15;
  }
}

@layer base {
  * {
    @apply border-border box-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark-btn,
.dark-btn:hover {
  background-color: var(--main-pink) !important;
}

.light-btn,
.light-btn:hover {
  background-color: var(--light-gray) !important;
  color: black;
}

.sidebar {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(180, 24, 127, 0.3) 90%,
    #b2187f
  );
}

.react-tel-input {
  .form-control {
    border: none !important;
  }
  .arrow {
    display: none;
  }
  .flag-dropdown {
    border: none !important;
    background-color: inherit !important;
  }
}

.store-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.store-form fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.store-form fieldset label,
.store-form .avail {
  font-size: 0.8rem;
  color: #00131fcc;
}

.store-form fieldset label .req-star {
  color: red;
}

.store-form textarea::placeholder,
.store-form input::placeholder {
  color: var(--medium-gray) !important;
  font-size: 0.8rem;
}

.store-form textarea,
.store-form input {
  color: #00131f;
  font-size: 0.8rem;
}

.store-form .num-details .t-icon {
  color: var(--medium-gray) !important;
  font-size: 0.8rem;
  font-weight: 600;
}

.store-form .num-details .t-icon::after {
  content: "|";
  color: rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
  margin-right: 0.3rem;
}

.store-form .required::after {
  content: " *";
  color: red; /* Or any color you'd like */
}

/* .store-form textarea */
::-webkit-scrollbar {
  display: none;
  width: 10px; /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
  background: rgb(172, 170, 170);
  border: 3px solid #f0f0f0;
  border-radius: 6px;
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--main-pink);
  border-radius: 6px;
  border: 3px solid #f0f0f0; /* to create space around the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
